.about-organizer{
  @extend %padding;
  background-color: $color-bg-primary;
  background-image: url(img/personal-organizer/protea.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 60% 80%;

  @media screen and (max-width: 1025px){
    background-size: 55% 40%;
  }

  @media screen and (max-width: $screen-sm-max){
    background-size: 55% 25%;
  }

  h2{
    margin: 0;
    font-family: $silk;
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 90px; 
    color: $color-text-primary;

    @media screen and (max-width: $screen-sm-max){
          font-size: 60px;
          line-height: 60px;
    }
  }

  h3{
    font-family: $opensans;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: center;
    color: $color-text-primary;
    width: 705px;
    margin: 60px auto;

    strong{
      color: $color-text-strong;
      font-weight: normal;
    }

    @media screen and (max-width: $screen-sm-max){
      font-size: 18px;
      width: 100%;
      margin: 30px 0;
    }
  }

  .about-organizer-content{
    width: 705px;
    margin: 0 auto;
    display: flex;

    @media screen and (max-width: $screen-sm-max){
      width: 100%;
    }

    p{
      font-family: $opensans;
      font-size: 16px;
      font-weight: normal;
      line-height: 23px;
      color: $color-text-primary;
      margin-top: 0;
      margin-bottom: 0;
      width: 50%;

      @media screen and (max-width: $screen-sm-max){
          font-size: 13px;
          line-height: 18px;
      }
    }

    p:first-child{
      padding-right: 60px;
      border-right: 1px solid $color-text-primary;

      @media screen and (max-width: $screen-sm-max){
          padding-right: 15px;
      }
    }

    p:last-child{
      padding-left: 60px;

      @media screen and (max-width: $screen-sm-max){
          padding-left: 15px;
      }
    }
  }

  .call-to-action{
    margin-top: 60px;
    text-align: center;

    @media screen and (max-width: $screen-sm-max){
      margin-top: 30px;
    }

    a{
      display: flex;
      flex-direction: column;

      & span:first-child{
        font-family: $silk;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: $color-text-strong;
      }

      & span:nth-child(2){
        font-family: $sugar;
        font-size: 110px;
        line-height: 70px;
        color: $color-text-primary;
      }

      & span:nth-child(3){
        font-family: $opensans;
        font-size: 15px;
        color: $color-text-primary;
        letter-spacing: 3px;
      }
    }
  }
}