*{
    box-sizing: border-box;
  }
  
  html, body {
      overflow-x: hidden;
      width: 100%;
      height: 100%;
  }
  
  body {
    font-family: $opensans;
    color: $color-text-primary;
    margin: 0;
    background: $color-bg-primary;
  }

.personal-organizer{
    width: 100%;
    width: 100vw;
    height: 100%;
    background-image: url(img/personal-organizer/protea.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    background-size: 60% 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 1025px){
        background-size: 55% 40%;
    }

    @media screen and (max-width: 767px){
        background-size: 55% 25%;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            margin: 0;
            background: url(img/personal-organizer/logo.png) no-repeat center center;
            -webkit-background-size: contain;
            background-size: contain;
            text-indent: -9999px;
            width: 300px;
            height: 190px;

            @media screen and (max-width: 767px){
                width: 180px;
                height: 115px;
            }
        }
    }

    .comming-soon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title{
            font-family: $silk;
            font-size: 125px;
            line-height: 130px;
            margin-top: 0;
            margin-bottom: 30px;

            @media screen and (max-width: 767px){
                font-size: 70px;
                line-height: 80px;
            }
        }

        .wrapper-keys{
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 767px){
                flex-wrap: wrap;
            }
        }

        h3{   
            font-weight: 300;
            font-size: 21px;
            line-height: 27px;
            margin: 0;
            letter-spacing: 5px;
            text-transform: uppercase;

            @media screen and (max-width: 991px){
                font-size: 15px;
                line-height: 19px;
            }

            @media screen and (max-width: 767px){
                width: 100%;
                text-align: center;
            }
        }

        h3 + h3{
            margin-left: 15px;

            @media screen and (max-width: 767px){
                margin-left: 0;
                margin-top: 10px;
            }
        }

        h3 + h3:before{
            content: '|';
            margin-right: 15px;
            vertical-align: text-top;

            @media screen and (max-width: 767px){
                content: '';
                margin-right: 0;
            }
        }
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 30px 0 30px;
        border-top: 2px solid $color-pink;
        width: fit-content;
        margin: 0 auto;

        @media screen and (max-width: 767px){
            padding: 30px 15px 0 15px;
        }

        a{
            color: $color-text-primary;
            text-decoration: none;
            font-size: 17px;
        }

        a + a {
            margin-top: 15px;
        }

        .instagram{
            display: flex;
            align-items: center;
            font-style: italic;

            span{
                display: block;
                background: url(img/personal-organizer/icon.png) no-repeat center center;
                -webkit-background-size: contain;
                background-size: contain;
                text-indent: -9999px;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}