.footer{
    padding: 45px;

    @media screen and (max-width: $screen-sm-max){
        padding: 40px 0;
    }

    h3{
        display: flex;
        justify-content: center;
        align-items: end;
        font-family: $silk;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.5px;
        color: $color-bg-primary;
        margin-top: 0;
        margin-bottom: 30px;

        @media screen and (max-width: $screen-sm-max){
          font-size: 18px;
        }

        span{
            font-family: $sugar;
            font-weight: normal;
            font-size: 90px;
            color: $color-text-strong;
            line-height: 65px;
            margin-right: 10px;

            @media screen and (max-width: $screen-sm-max){
                font-size: 55px;
                line-height: 45px;
            }
        }
    }

    .footer-info-contact a, .footer-info-contact p{
        font-family: $opensans;
        font-size: 16px;
        color: $color-bg-primary;
    }

    .footer-info-contact{
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @media screen and (max-width: $screen-sm-max){
          flex-wrap: wrap;
        }
    }

    .contact{
        display: flex;
        flex-direction: column;

        .instagram{
            display: block;
            background: url(img/personal-organizer/icon.png) no-repeat center center;
            -webkit-background-size: contain;
            background-size: contain;
            text-indent: -9999px;
            width: 30px;
            height: 30px;
            margin-bottom: 15px;
        }

        .phone{
            margin-bottom: 10px;
        }
    }

    .footer-protea{
        height: 110px;
        width: 69px;
        transform: rotateY(180deg);
        margin-left: 40px;
        margin-right: 40px;
        
        @media screen and (max-width: $screen-sm-max){
          margin-left: 20px;
          margin-right: 0;
        }
    }

    .ephemere{
        a{
            display: block;
            background: url(img/personal-organizer/ephemere_v02.png) no-repeat center center;
            -webkit-background-size: contain;
            background-size: contain;
            text-indent: -9999px;
            width: 130px;
            height: 33px;
            margin-top: 10px;
        }

        @media screen and (max-width: $screen-sm-max){
            margin-top: 30px;
        }
    }
}