.header{
  background: $color-bg-primary;
  padding-top: 20px;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $screen-sm-max){
      flex-flow: row-reverse;
    }
  }
    
  h1{
    margin: 0;
    background: url(img/personal-organizer/logo.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    text-indent: -9999px;
    width: 300px;
    height: 190px;

    @media screen and (max-width: $screen-sm-max){
      width: 180px;
      height: 115px;
    }
  }

  .btn-contato{

    &:hover{
      text-decoration: underline;
      text-underline-position: under;
    }

    @media screen and (max-width: $screen-sm-max){
      display: none;
    }
  }

  .btn-menu, .btn-contato{
    font-family: $silk;
    font-size: 19px;
    color: $color-text-primary;
    background: none;
    border: none;
    cursor: pointer;
  }

  .btn-menu:hover{
    text-decoration: underline;
    text-underline-position: under;
  }

  .menu{
    opacity: 0;
    position: fixed;
    left: -9999px;
    top: 0;
    width: 40%;
    overflow-y: auto;
    height: 100%;
    height: 100vh;
    padding: 50px;
    background: $color-text-strong;
    transition: left 2s linear, opacity 1s cubic-bezier(.4,.25,.3,1);

    @media screen and (max-width: $screen-sm-max){
      width: 90%;
      padding: 30px;
      left: initial;
      right: -99999px;
      transition: right 2s linear, opacity 1s cubic-bezier(.4,.25,.3,1);
    }
    
    a{
      color: $color-text-secondary;
    }

    .content-menu{
      text-align: center;
    }

    .menu-header{
      position: relative;
      display: flex;
      justify-content: center;

      img{
        height: 100px;
        filter: invert(85%);
        transform: rotateY(180deg);
      }

      .btn-close-menu{
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: none;
        background: url(img/personal-organizer/cancel.png) no-repeat center center;
        background-size: 20px;
        text-indent: -9999px;
        width: 50px;
        height: 50px;
        padding: 10px;
        cursor: pointer;
      }
    }

    .menu-list{
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .menu-item-list{
      font-family: $silk;
      font-size: 28px;

      @media screen and (max-width: $screen-sm-max){
          font-size: 22px;
      }
    }

    .menu-item-list + .menu-item-list{
      margin-top: 25px;
    }

    .menu-contact{
      padding-top: 30px;
      margin: 0 30px;
      border-top: solid 1px $color-text-secondary;

      @media screen and (max-width: $screen-sm-max){
        margin: 0;
      }

      a{
        display: block;
        font-family: $opensans;
        font-size: 18px;

        @media screen and (max-width: $screen-sm-max){
          font-size: 15px;
        }
      }

      a + a{
        margin-top: 15px;
      }

      .instagram{
        display: block;

        &::before{
          content: "";
          display: inline-block;
          width: 30px;
          height: 30px;
          background-image: url("img/personal-organizer/instagram_azul.png");
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 10px;
          
        }
      }
    }
  }

  .menu.expanded{
    opacity: 1;
    left: 0;
    // transition: all 0.5s ease-in-out;
    transition: left 100ms ease-in, opacity 700ms cubic-bezier(.4,.25,.3,1);

    @media screen and (max-width: $screen-sm-max){
      left: initial;
      right: 0;
      transition: right 100ms ease-in, opacity 700ms cubic-bezier(.4,.25,.3,1);
    }
  }
}