// fonts
$opensans: 'Open Sans', sans-serif;
$silk: 'Silk Serif', sans-serif;
$sugar: 'Sugar Creates', sans-serif;

// colors
$color-white: #ffffff;
$color-blue: #53636b;
$color-pink: #c89fa5;
$color-gray: #222222;

$color-text-primary: $color-white;
$color-text-secondary: $color-gray;
$color-text-strong: $color-pink;
$color-bg-primary: $color-blue;

%padding{
    padding: 80px 0;

    @media screen and (max-width: $screen-sm-max){
        padding: 40px 0; 
    }
}