// fonts
$opensans: 'Open Sans', sans-serif;
$silk: 'Silk Serif', sans-serif;
$sugar: 'Sugar Creates', sans-serif;

// colors
$color-white: #ffffff;
$color-gray: #53636b;
$color-pink: #c89fa5;
$color-pink-2: #c9a0a5;

$color-text-primary: $color-white;
$color-text-strong: $color-pink;
$color-bg-primary: $color-gray;
$color-bg-secondary: $color-pink-2;