.projects{
    .slide-projects, .project{
        height: 100%;
        height: 100vh;
    }

    .project{
        display: flex;
        align-items: center;
    }

    .project:nth-child(even){
        background: $color-bg-secondary;
    }

    .project:nth-child(odd){
        background: $color-bg-primary;
    }

    .title-project{
        font-family: $font-secondary;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 50px;
        margin: 0;
    }

    .description-project{
        font-size: 22px;
        line-height: 35px;
        width: 90%;
    }

    .slide-projects{

        .slick-dots{
            list-style: none;
            position: absolute;
            right: 88px;
            top: 50%;
            margin-top: -68px;

            li + li{
                margin-top: 20px;
            }
        }

        button{
            text-indent: -99999px;
            width: 15px;
            height: 15px;
            background: $color-secondary;
            border: none;
            cursor: pointer;
        }

        .slick-active button{
            background: $color-primary;
        }
    }

    .wrapper-brands{
        .list-brands{
            display: flex;
        }

        p{
            font-family: $font-secondary;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
        }

        .box-brand{
            width: 100px;
            height: 100px;
        }

        .box-brand +  .box-brand{
            margin-left: 20px;
        }
    }
}