<section id="about-me" class="about-me">
    <div class="container">
        <div class="content-about-me">
            <img src="{{ site.baseurl }}assets/img/personal-organizer/sobremim.png" alt="Foto de Eduarda Giacomello em Preto e Branco, refletindo">
            <p>
                Ter zelo pelas coisas foi uma das primeiras lições que me lembro de ter aprendido com a minha mãe. <span>Cuidar, tratar com carinho, prezar.</span> 
                <br> <br>
                Sempre fui uma criança muito organizada e nunca fui muito de guardar coisas, até porque nossa casa era pequena demais, e isso me fez aprender a só manter o que eu realmente gostava. Foi assim que me tornei a organizadora oficial de casa: fui a responsável por arrumar nossas mudanças e tentei mil vezes jogar mil tralhas fora. Tentei, porque também aprendi que o que era não era importante pra mim, muitas vezes tinha valor para o outro.
                <br> <br>
                Com o tempo, fui me interessando por assuntos como sustentabilidade e minimalismo que, para mim, tem tudo a ver com levar uma vida mais leve, organizada, consciente  e que valorize o que realmente faz sentido. Agora, trabalho levando um pouco do que eu acredito fazer tão bem pra quem estiver disposto. <span>Ver a transformação que algo aparentemente tão simples pode causar na vida de alguém me move profundamente, e é isso que gostaria de apresentar a você.</span>                 
            </p>
        </div>
    </div>
</section>