<section class="about-organizer">
    <div class="container">
        <h2 class="subtitle">
            Personal <br>
            Organizer
        </h2>
        <h3>
            <strong> A sua casa é o seu espaço. É onde você deve se sentir mais inspirada, acolhida e confiante.</strong> Por isso, estar em um ambiente harmônico e organizado, rodeada apenas daquilo que você ama e que te representa, faz toda a diferença.
        </h3>

        <div class="about-organizer-content">
            <p>
                Como personal organizer, meu trabalho é avaliar os ambientes e entender a rotina de quem vive ali, para trazer soluções personalizadas que otimizem o tempo e o espaço, e apresentar as mudanças de forma definitiva para que a bagunça não volte.
            </p>
            <p>
                Meu método busca usar o que você já possui, rever hábitos que possam estar te atrapalhando, apresentar estratégias de organização simples que você possa usar pra sempre, além de  trazer dicas de como fazer escolhas mais sustentáveis (e muitas vezes mais baratas) pra sua casa.
            </p>
        </div>

        <div class="call-to-action">
            <a href="mailto:{{ site.email }}">
                <span>vamos</span>
                <span>conversar?</span>
                <span>{{ site.email }}</span>          
            </a>
        </div>
       
    </div>
</section>