<section class="consultorias">
    <div class="container">
        <h3>Consultorias</h3>
        <div class="wrapper-consultorias">
            <div class="box-consultoria">
                <div class="box-header">
                    <p class="box-number">01</p>
                    <p class="box-title">Organização<br>Residencial</p>
                </div>
                <ul class="lista-consultoria">
                    <li class="item-consultoria">planejamento</li>
                    <li class="item-consultoria">consultoria para deixar excessos</li>
                    <li class="item-consultoria">separação de itens</li>
                    <li class="item-consultoria">organização inteligente dos espaços</li>
                    <li class="item-consultoria">apresentação do espaço</li>
                </ul>
            </div>

            <div class="box-consultoria">
                <div class="box-header">
                    <p class="box-number">02</p>
                    <p class="box-title">Organização<br>de Guarda-Roupa</p>
                </div>
                <ul class="lista-consultoria">
                    <li class="item-consultoria">planejamento</li>
                    <li class="item-consultoria">consultoria para deixar excessos</li>
                    <li class="item-consultoria">separação de itens</li>
                    <li class="item-consultoria">organização inteligente dos espaços</li>
                    <li class="item-consultoria">apresentação do espaço</li>
                </ul>
            </div>

            <div class="box-consultoria">
                <div class="box-header">
                    <p class="box-number">03</p>
                    <p class="box-title">Organização<br>de Mudança</p>
                </div>
                <ul class="lista-consultoria">
                    <li class="item-consultoria">separação de itens e inventário</li>
                    <li class="item-consultoria">embalagem dos itens</li>
                    <li class="item-consultoria">visita ao novo espaço para planejamento</li>
                    <li class="item-consultoria">acompanhamento do transporte</li>
                    <li class="item-consultoria">desempacotamento e organização de tudo</li>
                    <li class="item-consultoria">apresentação do espaço</li>
                </ul>
        </div>
    </div>
</section>