<footer class="footer">
    <div class="container">
        <h3><span>tem interesse?</span> entre em contato!</h3>
        <div class="footer-info-contact">
            <div class="contact">
                <a href="https://www.instagram.com/naosoumaria" target="_blank" class="instagram">Instagram</a>
                <a href="https://api.whatsapp.com/send?phone=5511997780797" target="_blank" class="phone">T: {{ site.phone }}</a>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </div>
            <img src="{{ site.baseurl }}assets/img/personal-organizer/protea_rose.png" alt="foto de uma protea na cor rosé" class="footer-protea">
            <div class="ephemere">
                <p>conheça também: <a href="https://www.instagram.com/ephemere.atelier/" target="_blank">éphémère ateliê</a></p>
            </div>
        </div>
    </div>
</footer>