<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }} | {{ page.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.meta_keywords }}">
    <link rel="canonical" href="{{ site.url }}">
    <meta name="author" content="Mariana Dutra">
    <meta name="google-site-verification" content="MYZ177UW9mHz_LkYj9YLRYSEOGC9Pqxij-9TXbH5u-4" />  

    <!-- Open Graph -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/img/thumbnail.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon_po/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon_po/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon_po/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon_po/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon_po/safari-pinned-tab.svg" color="#c89fa5">
    <meta name="msapplication-TileColor" content="#c89fa5">
    <meta name="theme-color" content="#c89fa5">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="assets/organizer.css">

    <!-- analytics -->
    {%- include google-analytics.html -%}
  </head>
